body {
  margin: 0;
  padding: 0;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000000;
}

#app {
  width: 100%;
  height: 100vh;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

@font-face {
  font-family: 'AngryBirds';
  src: url('assets/fonts/angrybirds-regular.ttf') format('truetype');
}

@font-face {
  font-family: 'Pixel1';
  src: url('assets/fonts/04B_30__.TTF') format('truetype');
}
